body {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    color: #444;
    /* Kurzschreibweise für Farben, bei denen die beiden Hexadezimalstellen für die Angabe des Farbanteils jeweils gleich sind*/
    background-color: #F7F7F7;
}

h1 {
    font-size: 48px;
    font-style: italic;
}

#content {
    width: 600px;
    float: left;
}

nav, #news {
    width: 200px;
    float: left;
}

nav a {
    display: block;
    /* eine weitere Möglichkeit die einzelnen Links des nav-Elementes untereinander darzustellen wäre, sie in
    jeweils einzelne <div> Elemente zu verpacken - somit werden sie vom Text-Element zum Blockelement und
    somit automatisch untereinander angeordnet; selbiges Vorgehen wäre auch mit dem <p> Element denkbar */
    text-decoration: none;
    color: white;
    height: 30px;
    border-bottom: 1px dotted red;
    border-top: 1px dotted red;
    padding: 10px 0 0 20px;
    /* Achtung: Das Padding, sowie die Border eines Elementes werden von CSS3 nicht automatisch verrechnet. Wenn die Höhe
    des Elementes also eine bestimmte Pixelzahl betragen soll, muss das Padding von der Höhe abgezogen werden. */
}

nav a:hover {
    background-color: #CC4;
    color: #444444;
    text-decoration: underline;
}

nav {
    background-color: #BADA55;
    /* Diese Anweisung wird der Stylebeschreibung für das Element nav zusätzlich zu den beiden bereits beschriebenen 
        Eigenschaften width und float hinzugefügt (Stichpunkt Kaskadierung)*/
}

#news {
    border: 1px solid #bada55;
    border-radius: 15px;
    box-shadow: 5px 5px 2px #888;
    /* Die ersten beiden Werte von box-shadow geben die horizontale und die vertikale Schattierung an. 
        Diese Werte können auch negativ sein. Das bedeutet, dass positive Schattenlängen in horizontaler Richtung rechts vom
        Objekt erscheinen und negative Werte werfen links neben dem Objekt einen Schatten. Auf der vertikalen Achse stehen
        positive Werte für einen Schatten unter dem Objekt und negative Werte für einen Schatten oberhalb des Objektes
        
        Der dritte Wert steht für die Größe des Blur-Effektes, also dem 'seichten' Auslaufen des Schattens.
        Der vierte Wert ist der Farbcode für den Schatten.*/
}
#news ul {
    list-style: none;
}

.red, #news ul li time {
    color: red;
}

#content div ol {
    list-style: none;
    float: left;
    padding-left: 0;
        /*Diese Einstellung war notwendig, da der Browser (hier Firefox) die Liste standardmäßig
        einrücken wollte, was aber nicht gewünscht ist!*/
}

#content li {
    color: white;
    display: block;
    float: inherit;
    height: 140px;
    width: 140px;
    /* Verkleinerung der Höhe und der Breite, weil das Padding an jedem Rand nochmal 10px draufschlägt */
    background-color: #bada55;
    font-size: 18px;
    font-weight: bold;
    padding:  10px 10px 10px 10px;
    margin-right: 20px;
    position: relative;
}

#content li div+div {
    /*Dieser Selektor selektiert ein div, welches auf der gleichen Hierchieebene hinter einem anderen div steht. Allerdings nur innerhalb eines
        Listenitems innerhalb Elementes mit der id content */
    background-color: red;
    height: 30px;
    width: 160px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

h1 + div {
    font-weight: bold;
    padding-bottom: 60px;
}

body {
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/4/4f/Dropshadow_1px.png);
    background-repeat: repeat-x;
}

#content {
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/b/b6/Tomato-Torrent-Icon.png);
    background-position: top right;
    background-repeat: no-repeat;
}

